@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", Arial, sans-serif;
  background-color: #111;
  color: #fff;
  font-weight: 300;
}

.my-container {
  width: min(1140px, 100%);
  padding: 0 20px;
  margin: 0 auto;
}

.custom-link {
  font-size: 18px;
  outline: none;
  transition: opacity 0.3s;
}

.custom-link:hover {
  opacity: 9;
}

.custom-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
}

.custom-link:hover::after {
  width: 100%;
}

.slick-next {
  right: -10px !important;
}

.slick-prev {
  left: -10px !important;
}
